body {
	 background-color: #5f9ea0;
         


}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 6px;
	width: 30px;
}

h1 {
	color: #66bfbf;
}

h3 {
	color: #66bfbf;
}

th {
	text-align: justify;
}
